.modal-body {
  display: inline-block;
  text-align: center;
}

.navbar {
  background-color: #cc0000;
  color: white;
}

.poke-text {
  font-size: 150px;
}

#myInput {
  margin-top: 10px;
  margin-left: 10px;
}
