.poke-button {
  background-color: #78787c;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.pokemon-list {
  list-style: none;
  text-align: center;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 47, 47, 0.5);
  text-align: center;
  /* to show it above other content */
  z-index: 999;
  overflow: auto;
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

.modal-image {
  height: 200px;
  width: auto;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}
